form#debt-form.well.form-inline
  #title-group.control-group
    .controls
      input(maxlength="35", data-field="title")#debt-title.debt-input.span3(type="text", placeholder="Title of debt")
  #type-group.control-group
    .controls
      select(data-field="type")#debt-type.debt-input.span2
        include /templates/debt-types
        each type in DEBT_TYPES
          option= type
  #principal-group.control-group
    .controls
      input(maxlength="18", data-field="principal")#debt-principal.debt-input.span2(type="text", placeholder="Principal")
  #rate-group.control-group
    .controls
      input(maxlength="5", data-field="rate")#debt-rate.debt-input.span2(type="text", placeholder="Rate")
  #repayment-group.control-group
    .controls
      input(maxlength="5", data-field="repayment")#debt-repayment.debt-input.span2(type="text", placeholder="Repayment")
  button(type="button")#debt-add.btn.btn-primary Add
  
#table-wrapper
  table#debt-table.table
    thead
      tr
        th#title Title
        th#type.center-col Type
        th#prin.center-col Principal
        th#rate.center-col Rate
        th#repay.center-col Repayment
        th#monthly.center-col Monthly
    tfoot#sum-row
      td(colspan="2") Totals
      td#principal-total.center-col $100.66
      td(colspan="2")
      td#monthly-total.center-col $200.69
    tbody#debt-table-body
  #table-notes
    p Double-click on a cell above to edit its value.

include templates/debt
