form#debt-form.well.form-inline
  #title-group.control-group
    .controls
      input(maxlength="35")#debt-title.debt-input.span3(type="text", placeholder="Title of debt")
  #type-group.control-group
    .controls
      select#debt-type.debt-input.span2
        option Credit Card
        option Stafford Loan
        option Perkins Loan
        option Plus Loan
  #principal-group.control-group
    .controls
      input(maxlength="18")#debt-principal.debt-input.span2(type="text", placeholder="Principal")
  #rate-group.control-group
    .controls
      input(maxlength="4")#debt-rate.debt-input.span2(type="text", placeholder="Rate")
  #repayment-group.control-group
    .controls
      input(maxlength="5")#debt-repayment.debt-input.span2(type="text", placeholder="Repayment")
  button(type="button")#debt-add.btn.btn-primary Add
  
#table-wrapper
  table#debt-table.table
    thead
      tr
        th#order #
        th#title Title
        th#type.center-col Type
        th#prin.center-col Principal
        th#rate.center-col Rate
        th#repay.center-col Repayment
        th#monthly.center-col Monthly
    tfoot#sum-row
      td(colspan="5")
      td.center-col Total
      td.center-col $200.69
    tbody#debt-table-body

  #step-one.hero-unit
    h1 About damn time!
    h2 So you finally want me to analyze your debts. Fantastic.
    p Before I can begin number-crunching I need some <span class="stress">basic information</span> about what you owe. 
      |<br /> Use the <span class="stress">form above</span> to start adding individual debt details to my ledger.

  #step-two.hero-unit
    h1 Almost there!
    h2 One small step away from enlightment.
    p  All you have to do is add the details of <span class="stress">one more debt</span> and I can start analyzing your information.
      |<br /> Then, add a few more and I will help you <span class="stress">strategize</span> on how to get out of debt faster.

include templates/debt
