#debt-table-wrapper
  table#debt-table.table.table-condensed
    tfoot#sum-row
      td(colspan="2") Totals
      td#principal-total.center-col $100.66
      td(colspan="2")
      td#monthly-total.center-col $200.69
    tbody#debt-table-body
      tr.input-row
        td(data-form="debt-title").form-cell
          .view Enter a title
          .edit-wrapper
            input(maxlength="35", data-field="title", type="text", data-default="Enter a title")#debt-title.debt-input
        td(data-form="debt-type").form-cell.center-col
          .view Select
          .edit-wrapper
            select(data-field="type", data-default="Select")#debt-type.debt-input.edit
              include /templates/debt-types
                each type in DEBT_TYPES
                  option= type
        td(data-form="debt-principal").form-cell.center-col
          .view Amount
          .edit-wrapper
            input(maxlength="35", data-field="title", type="text", data-default="Amount")#debt-principal.debt-input
        td(data-form="debt-rate").form-cell.center-col
          .view %
          .edit-wrapper
            input(maxlength="5", data-field="rate", type="text", data-default="%")#debt-rate.debt-input
        td(data-form="debt-repayment").form-cell.center-col
          .view Duration
          .edit-wrapper
            input(maxlength="5", data-field="repayment", type="text", data-default="Duration")#debt-repayment.debt-input
        td.center-col
          button(type="button")#debt-add.btn.btn-primary.btn-small Add

      tr.headings
        td Title
        td.center-col Type
        td.center-col Principal
        td.center-col Rate
        td.center-col Repayment
        td.center-col Monthly

  #table-notes
    p Double-click on a cell above to edit its value.

include templates/debt
