.metrics(style="display: none;")
  #avalanche-lifetime $$.$$
  #avalanche-daily $$.$$

#start-strategy(style="display: none;").hero-unit
  h1 Now for the good part!
  h2 Let's save you some time and money.
  p Select one of the debt <span class="stress">repayment strategies above</span> for a detailed breakdown.

#coming-soon.hero-unit
  h1 Coming Soon!
  h2 Check back in a bit.
  p This section will display how much money you will save given a fixed monthly overpayment amount and a customized repayment strategy.
