.metrics
  #avalanche-lifetime $$.$$
  #avalanche-daily $$.$$

#start-strategy.hero-unit
  h1 Now for the good part!
  h2 Let's save you some time and money.
  p Select one of the debt <span class="stress">repayment strategies above</span> for a detailed breakdown.
