extends layout

append head
  script(src='/vendor/underscore/underscore-min.js')  
  script(src='/vendor/backbone/backbone-min.js')  

block content
  .caption
    h1 Debt Management App
  
  ul#subnav.nav.nav-tabs
    li.active: a(href='#analyze', data-toggle='tab') Analyze
    li: a(href='#strategize', data-toggle='tab') Strategize

  #app-tabs.tab-content
    #analyze.tab-pane.active
      p Analyze app under development
    #strategize.tab-pane
      p Strategize app under development
