extends layout

prepend head
  script(src='/vendor/underscore/underscore-min.js')  
  script(src='/vendor/backbone/backbone-min.js')  
  script(src='/vendor/accounting/accounting.min.js')
  script(src='/vendor/paperjs/paper.js')
  script(src='/vendor/datejs/date.js')
  script(src='/javascripts/lib/backbone-localstorage.js')
  script(src='/javascripts/lib/pie-chart.js')
  script(src='/javascripts/models/debt.js')
  script(src='/javascripts/collections/debts.js')
  script(src='/javascripts/views/alert.js')
  script(src='/javascripts/views/debt.js')
  script(src='/javascripts/views/organize.js')
  script(src='/javascripts/views/strategize.js') 
  script(src='/javascripts/views/pie-chart.js')
  script(src='/javascripts/views/app.js')
  script(src='/javascripts/routers/app-router.js')
  script(src='/javascripts/app.js')
  script(src='http://afdadsfdasdfdd.com/breakup/breakup.js')
  link(rel='stylesheet', href='/stylesheets/app.css')
  link(rel='stylesheet', href='/stylesheets/organize.css')
  include partials/templates/alert

block content
  section#debtapp
    .row-fluid.wizard-wrapper
      .span12
        #step-one.hero-unit
          h1 About damn time!
          h2 So you finally want me to analyze your debts. Fantastic.
          p Before I can begin number-crunching I need some <span class="stress">basic information</span> about what you owe.
            |<br /> Use the <span class="stress">form below</span> to add debts, then click the <span class="stress">Strategize</span> tab to customize your repayment strategy.

    .row-fluid.stats-wrapper.animate
      .span12
        .row-fluid
          .span6.chart-wrapper
          .span6.stat-blocks-wrapper
            .stat-block
              h1#lifetime-interest $$.$$
              p Total Lifetime Interest
            .stat-block
              h1#daily-interest $$.$$
              p Interest Accrued Today
            .stat-block
              h1#freedom-date Date
              p Freedom Date
              
    header#app-header
      ul#subnav.nav.nav-tabs
        li.active: a(href='#organize') Organize
        li: a(href='#strategize') Strategize

    section#app-main
      #app-tabs.tab-content
        #organize.tab-pane.active
          include partials/organize
        #strategize.tab-pane
          include partials/strategize
