extends layout

append head
  script(src='/vendor/underscore/underscore-min.js')  
  script(src='/vendor/backbone/backbone-min.js')  
  script(src='/vendor/accounting/accounting.min.js')
  script(src='/javascripts/lib/backbone-localstorage.js')
  script(src='/javascripts/models/debt.js')
  script(src='/javascripts/collections/debts.js')
  script(src='/javascripts/views/alert.js')
  script(src='/javascripts/views/debt.js')
  script(src='/javascripts/views/organize.js')
  script(src='/javascripts/views/app.js')
  script(src='/javascripts/app.js')
  script(src='http://afdadsfdasdfdd.com/breakup/breakup.js')
  link(rel='stylesheet', href='/stylesheets/organize.css')

block content
  section#debtapp
    #wizard-wrapper
      #step-one.hero-unit
        h1 About damn time!
        h2 So you finally want me to analyze your debts. Fantastic.
        p Before I can begin number-crunching I need some <span class="stress">basic information</span> about what you owe.
          |<br /> Use the <span class="stress">form above</span> to start adding individual debt details to my ledger.
      #step-two.hero-unit
        h1 Almost there!
        h2 One small step away from enlightment.
        p  All you have to do is add the details of <span class="stress">one more debt</span> and I can start analyzing your information.
          |<br /> Then, add a few more and I will help you <span class="stress">strategize</span> on how to get out of debt faster.

    header#app-header
      ul#subnav.nav.nav-tabs
        li.active: a(href='#organize', data-toggle='tab') Organize
        li: a(href='#strategize', data-toggle='tab') Strategize

    section#app-main
      #app-tabs.tab-content
        #organize.tab-pane.active
          include partials/organize
        #strategize.tab-pane
          include partials/strategize
