extends layout

append head
  script(src='/vendor/underscore/underscore-min.js')  
  script(src='/vendor/backbone/backbone-min.js')  
  script(src='/vendor/accounting/accounting.min.js')
  script(src='/javascripts/lib/backbone-localstorage.js')
  script(src='/javascripts/models/debt.js')
  script(src='/javascripts/collections/debts.js')
  script(src='/javascripts/views/alert.js')
  script(src='/javascripts/views/debt.js')
  script(src='/javascripts/views/organize.js')
  script(src='/javascripts/views/app.js')
  script(src='/javascripts/app.js')
  link(rel='stylesheet', href='/stylesheets/organize.css')

block content
  .caption
    h1 Debt Management App
    h2 Some Filler 
    h2 For where the Clocks
    h2 Will Be

  section#debtapp
    header#app-header
      ul#subnav.nav.nav-tabs
        li.active: a(href='#organize', data-toggle='tab') Organize
        li: a(href='#strategize', data-toggle='tab') Strategize

    section#app-main
      #app-tabs.tab-content
        #organize.tab-pane.active
          include partials/organize

        #strategize.tab-pane
          include partials/strategize
