doctype 5
html
  head
    title= title
    block head
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='/vendor/bootstrap/js/bootstrap.js')

  body
    .main-wrapper
      .container
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              ul.nav.pull-left
                li: a(href='/') Home
                li: a(href='/manage') Manage
        #main
          block content
      .push 

    footer
      .container
        p 
        | <hr />
        | Diego Netto &copy 2012 <br />
        | <a href="/">Home</a> ⋅ 
        | <a href="/manage">Manage</a>
