doctype 5
html
  head
    title= title
    block head
      link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
      link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu|Pacifico', type='text/css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js')
      script(src='/vendor/bootstrap/js/bootstrap.js')
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    .main-wrapper
      .container
        .navbar.navbar-fixed-top.navbar-inverse
          .navbar-inner
            .container
              a(href='/').brand DebtCrunch
              ul#top-nav.nav.pull-left
                if page == 'home'
                  li.active: a(href='/') Home
                else
                  li: a(href='/') Home
                if page == 'app'
                  li.active: a(href='/app') App
                else
                  li: a(href='/app') App
                if page == 'faq'
                  li.active: a(href='/faq') FAQ
                else
                  li: a(href='/faq') FAQ
        #main
          #error-msgs
          block content
      .push 

    footer
      .container
        | <hr />
        | Created by <a href="http://diegonetto.com">Diego Netto</a> &copy 2012
