doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu|Pacifico', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.js')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head
      |<script type="text/javascript">
      |  var _gaq = _gaq || [];
      |  _gaq.push(['_setAccount', 'UA-34746223-1']);
      |  _gaq.push(['_trackPageview']);
      |  (function() {
      |    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      |    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      |    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      |  })();
      |</script>

  body
    .main-wrapper
      .navbar.navbar-static-top.navbar-inverse
        .navbar-inner
          .container
            a(href='/').brand DebtCrunch
            ul#top-nav.nav.pull-left
              if page == 'app'
                li.active: a(href='/app') App
              else
                li: a(href='/app') App
            .tweet-btn.pull-right
              a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://debtcrun.ch", data-text="Find out how much time and money your debt is really costing you @", data-count="none").twitter-share-button Tweet
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      #main.container
        #error-msgs
        block content
    .push 

    footer
      p Created by <a href="http://diegonetto.com", target="_blank">Diego Netto</a> &copy 2012<br />
        | <a href='mailto:feedback@debtcrun.ch', target='_blank'>Feedback</a> &bull; <a href='mailto:support@debtcrun.ch', target='_blank'>Support</a>
