/* Subnav styles */
#subnav {
  margin-bottom: 0px;
  border-bottom: none;
  background-color: none;
  border-color: none;
}

#subnav a {
  background-color: transparent;
  border-color: transparent;
}

#subnav .active a {
  color: #FA2;
}

.tab-pane {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#app-tabs {
  background: rgba(255, 255, 255, 0.9); 
  border: 1px solid #DDD;
  border-radius: 6px;

  position: relative;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2),
                                0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

/* Style Error Alert Messages */
.error-msgs {
  position: relative;
  top:0px;
  left: 0px;
  width: 100%;
  height: 0px;
}

.alert {
  display: none;
  width: auto;
  position: fixed;
  margin: 0px auto;
  top: 45px;
  z-index: 20;
}

/* Guidance Wizard styling */
#wizard-wrapper > .hero-unit {
  margin-bottom: 10px;
}

.stats-wrapper,
#step-one {
  display: none;
}

/* Stat Block styles */
.stat-block {
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2),
                                0 10px 25px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #DDD;
  border-radius: 6px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

.stat-block h1 {
  color: FireBrick;
}

.stat-block p {
}

/* Chart View Styles */
.pie-chart {
/*  width: 600px;
  height: 300px;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9); */
}
