/* Debt creation form styling */
.debt-input {
  width: auto;
}

#debt-title {
  width: 257px;
}

#debt-type {
  width: 140px;
}

#debt-principal {
  width: 170px;
}

#debt-rate,
#debt-repayment {
  width: 110px;
}

/* Table formatting */
#debt-table-wrapper {

}

#debt-table .headings{
  font-weight: bold;
}

#debt-table-body {

}

.center-col {
  text-align: center !important;
}

#sum-row td {
  border-top: 1px solid #2C2C2C;
  color: firebrick;
  font-weight: bold;
}

#table-notes {
  margin: -15px auto 0;
  color: #a6a6a6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
}

/* DebtView Styling */
#debt-table td {
  vertical-align: middle;
}

#debt-table .debt-view tr input {
  border: none;
  box-shadow: none;
}

.edit-wrapper {
  position: relative;
  height: 0px;
  width: 0px;
}

#debt-table tr .debt-input {
  display: none;
  padding: auto;
  position: absolute;
  top: -27px;
  left: -5px;
  font-family: Ubuntu, sans-serif;
  text-align: inherit;
  border: 1px solid #999;
  border: 1px solid #615456;
  box-shadow: inset 0 -1px 5px 0 rgba(97, 84, 86, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#debt-table tr .edit {
  display: none;
  padding: auto;
  position: absolute;
  top: -24px;
  left: -5px;
  font-family: Ubuntu, sans-serif;
  text-align: inherit;
  border: 1px solid #999;
  border: 1px solid #615456;
  box-shadow: inset 0 -1px 5px 0 rgba(97, 84, 86, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#debt-table .edit-title {
  padding-left: 7px !important;
}

#debt-table tr.debt-view:hover,
#debt-table tr.debt-view:hover td,
#debt-table tr:hover .edit {
  background-color: #E6DED1;
}

#debt-table tr .editing .debt-input,
#debt-table tr .editing .edit {
  display: inline-block;
  z-index: 10;
}

#deb-table tr .view {
  z-index: 1;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#destroy-wrapper {
  position: relative;
  width: 0px;
  height: 0px;
  float: right;
}

#debt-table tr .destroy-btn {
  display: none;
  position: absolute;
  top: 19px;
  right: 0px;
  float: right;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto 0;
  font-size: 22px;
  border: 0px 0px 0px 0px;
  color: #B5B5B5;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

#debt-table .destroy-btn:hover {
  text-shadow: 0 0 1px #000,
			 0 0 10px rgba(255, 255, 255, 0.8);
  color: #2C2C2C;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#debt-table tr .destroy-btn:after {
  content: '✖';
}

#debt-table tr:hover .destroy-btn {
  display: block;
}
