html, body {
  height: 100%;
/*  background-color: #EAEAEA !important;*/
}

.caption {
  margin-top: 20px;
  text-align: center;
}

#subnav {
  margin-bottom: 0px;
}

.tab-pane {
  margin-top: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

#app-tabs {
  background: rgba(255, 255, 255, 0.9); 
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2),
                                0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

footer {
  text-align: center;
}

.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -95px;
}

#main {
  padding-top: 45px;
}

.push {
  height: 95px;
}

/* Style Error Alert Messages */
.error-msgs {
  width: 100%;
}

/* responsive footer fix by Aalaap Ghag */
@media (max-width: 767px) {
   body {
     padding-right: 0px;
     padding-left: 0px;
   }
    
   footer, .wrapper {
     padding-left: 20px;
     padding-right: 20px;
   }
}

.container {
  max-width: 940px;
}
/* end responsive footer fix */
