script(type="text/template")#debt-template
  td <%= order %>
  td <%- title %>
  td.center-col <%- type %>
  td.center-col <% print(accounting.formatMoney(principal)) %>
  td.center-col <%- rate %>%
  td.center-col <%- repayment %> months
  td.center-col  $xx.xx  
    div#destroy-wrapper
      button.destroy-btn

